@{
    ViewBag.Title = "Other";
}

<h2>Other</h2>


@*<div id="main-wrapper" class="color-skin-3">

    <header id="header-2" class="header">
        <nav class="navbar navbar-default" role="navigation">*@
            <div class="container">
                <p> WORDS WORDS I AM A BUNCH OF WORDS </p>
                @Html.ActionLink("Edit Record", "Edit", "Movies", new { id = 3 }, null)
                </div>

